<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
      <link rel="stylesheet" href="/css/fonts.css">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/jquery.notifyBar.css">
      <meta http-equiv="refresh" content="01">
  <body>
    <div class="header-container">
      <header class="wrapper clearfix">
        <span class="brand">Social Cockpit</span>
      </header>
    </div>

        <img height ="100%" width= "100%" src="http://localhost:4000/camera/1465554048646.png" border="1">

  </body>
</html>
